# Sanity
SANITY_PROJECT_ID=z25t0wsp
SANITY_DATASET=production
SANITY_WRITE_TOKEN=      # Sanity Studio > API > Tokens > "Editor" token

# Stripe
STRIPE_SECRET_KEY=       # Stripe Dashboard > Developers > API Keys > Secret key
STRIPE_WEBHOOK_SECRET=   # Stripe Dashboard > Developers > Webhooks > Signing secret
VITE_STRIPE_PUBLIC_KEY=  # Stripe Dashboard > Developers > API Keys > Publishable key
